.plans-section{
    padding: 120px 330px;
}

.plan-details-title{
    font-size: 72px;
    font-weight: 700;
    line-height: 87.14px;
    letter-spacing: -0.025em;
    text-align: center;
    color: #070707;
}

.plan-details-text{
    padding-top: 30px;
    font-size: 22px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    color: #070707;
}

.plans-data{
    padding-top: 55px;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.plan-card{
    display: flex;
    flex-direction: column;
    padding: 40px;
    border-radius: 30px;
    background-color: #FFFFFF;
    justify-content: space-between;
}

.plan-details{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.select-plan-button{
    margin-top: 60px;
    padding: 20px 70px;
    border: 1px solid black;
    border-radius: 100px;
    background-color: #FFFFFF;
}

.select-plan-button:hover{
    background-color: #A3DC2F;
}

.plan-type{
    font-size: 30px;
    font-weight: 400;
    line-height: 36.31px;
}


.plan-price{
    font-size: 60px;
    font-weight: 400;
    line-height: 72.61px;
}

.plan-description{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.025em;
    text-align: left;
    color: #65676C;
}

.plan-feature{
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.025em;
    text-align: left;
    color: #65676C;
}